{{ 'about-block1.css' | asset_url | stylesheet_tag }}
	

<div class="content-section1 why-acme-sections">
        <div class="conatiner">
            <div class="about-top-block">
                <div class="why-acme-block">
                    <div class="why-acme-small-text">{{section.settings.why-acme-small-text}}</div>
                    <h2 class="why-acme-heading">{{section.settings.why-acme-heading}}</h2>
                    <p class="why-acme-paragraph">{{section.settings.why-acme-paragraph}}</p>
                </div>
            </div>

        </div>
    </div>






{% schema %}
  {
    "name": "about-block1",
    "settings": [

		{
        "id":"why-acme-small-text",
        "type":"text",
        "label":"toptext",
       "default":"your-top text"
        },
        {
            "id":"why-acme-heading",
            "type":"text",
            "label":"heading",
           "default":"your-heading"
         },
         {
            "id":"why-acme-paragraph",
            "type":"text",
            "label":"paragraph",
           "default":"your-paragraph"
         }

		
],
	"presets": [
                {
                    "category": "about-block1",
                    "name":"support-section"

                }
            ]



  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
