{{ 'about-block1.css' | asset_url | stylesheet_tag }}
	

<div class="content-section1 why-acme-sections">
        <div class="conatiner">
            <div class="about-top-block">
                <div class="why-acme-block">
                    <div class="why-acme-small-text">{{section.settings.why-acme-small-text}}</div>
                    <h2 class="why-acme-heading">{{section.settings.why-acme-heading}}</h2>
                    <p class="why-acme-paragraph">{{section.settings.para}}</p>
                </div>
            </div>

        </div>
    </div>






{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
