{{ 'about-block1.css' | asset_url | stylesheet_tag }}
	

<div class="content-section1 why-acme-sections">
        <div class="conatiner">
            <div class="about-top-block">
                <div class="why-acme-block">
                    <div class="why-acme-small-text">WHY ACME OUTDOORS?</div>
                    <h2 class="why-acme-heading">We’re the best in the business.</h2>
                    <p class="why-acme-paragraph">From more than 30 years,we’ve been leading the way across Oklahoma -
                        creating the best possible customer experience since 1989.</p>
                </div>
            </div>

        </div>
    </div>






{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
