{{ 'about-block3.css' | asset_url | stylesheet_tag }}

<div class="content3-section wf-section">
    <div class="container3 shop-local-container">
        <div class="content3-wrapper">
            <div class="meet-the-owners-wrapper">
                <div class="meet-the-owners-left" style="background-image: url({{ section.settings.meet-the-owners-left | img_url:"large"}});" alt="image-leftside">
                </div>
                <div class="meet-the-owners-right">
                    <div class="owners-rich-text w-richtext">
                        <h2 class="head">{{section.settings.head}}
                            
                        </h2>
                        <p class="lines">
                            {{section.settings.lines}}
                           
                        </p>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>.



{% schema %}
  {
    "name": "about block3",
    "settings": [
                {
                "id":"meet-the-owners-left",
                "type":"image_picker",
                "label":"imagepic"
                 
                },
      			 {
                "id":"head",
                "type":"text",
                "label":"Heading",
                "default":"My heading"
                },
                
                {
                "id":"lines",
                "type":"richtext",
                "label":"type paragraph",
				"default":"<p>Details of products</p>"
                }


],
      
"presets": [
                {
                    "category": "about",
                    "name":"about-block3"

                }
            ]


      
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
