{{ 'about-block4.css' | asset_url | stylesheet_tag }}

       <div class="content-section wf-section">
            <div class="container">


                <div class="owner-bios-wrapper">
                    <div class="owner-bio">

                        <div class="owner-avatar-wrapper">
                            <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e84d114eef39554b0e943d8_John%20Doe.png"
                                alt="coowner john dea">
                        </div>
                        <h3 class="heading">{{section.settings.heading}}</h3>
                        <p class="owner-bio-paragraph">{{section.settings.owner-bio-paragraph}}
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                            elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
                            commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem
                            imperdiet. Nunc ut sem vitae risus tristique posuere.

                        </p>


                    </div>
                  </div>
             </div>
          </div>





{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
