{{ 'about-block4.css' | asset_url | stylesheet_tag }}

       <div class="content-section wf-section">
            <div class="container">

			
                <div class="owner-bios-wrapper">
                    <div class="owner-bio">

                        <div class="owner-avatar-wrapper">
                            <img src=" {{section.settings.owner-avatar-wrapper |img_url:'large' }}"  >
                        </div>
                        <h3 class="heading">{{section.settings.heading}}</h3>
                        <p class="owner-bio-paragraph">{{section.settings.owner-bio-paragraph}}
                           
                        </p>


                    </div>
                  </div>
             </div>
          </div>





{% schema %}
  {
    "name": "about block4",
	
    "settings": [ 

		{
                "id":"owner-avatar-wrapper",
                "type":"image_picker",
                "label":"imagepic"
                 
        },
		{
                "id":"heading",
                "type":"text",
                "label":"headings",
               "default":"your-heading"
         },
		
		 {
                "id":"owner-bio-paragraph",
                "type":"richtext",
                "label":"paragraph",
				"default":"<p>Details of products</p>"
         }


],

"presets": [
                {
                    "category": "about",
                    "name":"about-block4"

                }
            ]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
