{{ 'about-block2.css' | asset_url | stylesheet_tag }}

<div class="content-section2 wf-section">
     <div class="container">
       <div class="about-columns-wrapper">


                <div class="about-column">
                    <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e84b9ccd071025d67c7e431_verified.svg"
                        alt="warranty-icon" class="image">
                    <h3 class="heading">Lifetime warranty</h3>
                    <p class="para">
                        All our products — whether we make them or not — are backed by our lifetime warranty.

                    </p>
                </div>
      </div>
    </div>          
</div>




{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
