{{ 'about-block2.css' | asset_url | stylesheet_tag }}

<div class="content-section2 wf-section">
     <div class="container">
       <div class="about-columns-wrapper">
				{% for blocks in section.blocks %}

                <div class="about-column">
                  	<div class="pic">
                     
                    <img class="image2" src=" {{blocks.settings.pic |img_url:'large' }}"  >
<!--                     <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e84b9ccd071025d67c7e431_verified.svg"
                        alt="warranty-icon" class="image">-->
                    </div> 
                    <h3 class="headings">{{blocks.settings.headings}}</h3>
                    <p class="para">
                        {{blocks.settings.para}}
                    </p>
                </div>
              {% endfor %}
      </div>
    </div>          
</div>




{% schema %}
  {
    "name": "about-block2",
    "settings": [

],
"blocks":[
        {
            "name":"about-block2",
             "type":"select",
            "settings":[
            {
                "id":"pic",
                "type":"image_picker",
                "label":"imagepic"
                 
           },
		   {
                "id":"headings",
                "type":"text",
                "label":"headings",
               "default":"your-heading"
           },
		
		  {
                "id":"para",
                "type":"richtext",
                "label":"paragraph",
				"default":"<p>Details of products</p>"
          }

                    
            ]


        }
  ],

"presets": [
                {
                    "category": "about",
                    "name":"about-block2"

                }
            ]




  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
