{{ 'about-block4.css' | asset_url | stylesheet_tag }}

       <div class="content-section wf-section">
            <div class="container">


                <div class="owner-bios-wrapper">
                  		{% for blocks in section.blocks %}	
                    <div class="owner-bio">

                        <div class="owner-avatar-wrapper">
                            <img  class="image4"src=" {{blocks.settings.owner-avatar-wrapper |img_url:'200x' }}" class="avatar " alt="owners-image" >
                        </div>
                        <h3 class="head">{{blocks.settings.head}}</h3>
                        <p class="owner-bio-paragraph">{{blocks.settings.owner-bio-paragraph}}
                           
                        </p>


                    </div>
                    {% endfor %}
                  </div>
            
             </div>
          </div>

		



{% schema %}
  {
    "name": "about block4",
	
    "settings": [ 

],
	
	"blocks":[
        {
            "name":"about-block4",
             "type":"select",
            "settings":[
            {
                "id":"owner-avatar-wrapper",
                "type":"image_picker",
                "label":"imagepic"
                 
           },
		   {
                "id":"head",
                "type":"text",
                "label":"headings",
               "default":"your-heading"
           },
		
		  {
                "id":"owner-bio-paragraph",
                "type":"richtext",
                "label":"paragraph",
				"default":"<p>Details of products</p>"
          }

                    
            ]


        }
  ],



"presets": [
                {
                    "category": "about block4",
                    "name":"about-block4"

                }
            ]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
