{{ 'about-block3.css' | asset_url | stylesheet_tag }}

    <div class="content-section3 wf-section">
        <div class="container shop-local-container">
            <div class="content-wrapper">
                <div class="meet-the-owners-wrapper">
                    <div class="meet-the-owners-left">
                                <img src=" {{blocks.settings.meet-the-owners-left |img_url:'large' }}"  
                                
                    </div>
                    <div class="meet-the-owners-right">

                        <div class="owners-rich-text w-richtext">

                            <h2 class="heading">{{section.settings.heading}}</h2>
                            <p class="paragraph">{{section.settings.paragraph}}
<!--                                 John and Jane met on a backpacking adventure in Nepal. John, a former sheep shearer,
                                went on the trip to get some clarity about his next adventures in life. Jane — a Peloton
                                instructor — went on the trip to explore the landscape in Nepal.
                                <br>
                                <br>
                                went on the trip to get some clarity about his next adventures in life. Jane — a Peloton
                                instructor — went on the trip to explore the landscape in Nepal.
                                <br>
                                <br>

                                Returning back to their home state of Oklahoma, John and Jane hatched a plan to launch a
                                retail store centered around their passions.

                                <br>
                                <br>

                                While John handled the sourcing of goods and customer service, Jane focused on the web +
                                e-commerce side of the business, building this website in the best design platform on
                                the web — Webflow!
                                <br>
                                <br>

                                In 1989, John and Jane Doe officially launched Acme Outdoors, the premiere store for
                                outdoor enthusiasts around the state.

                                <br>
                                <br>
                                To this day, John and Jane return to Nepal yearly to ensure that they never forget their
                                roots and where they came from -->
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





{% schema %}
  {
    "name": "about block3",
    "settings": [



]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
