{{ 'announcement-bar-biznus.css' | asset_url | stylesheet_tag }}

<div class="announce-block">
    <a class="announce" href="{{section.settings.announce}}">
        <div class="announce-container">
            <div class="announce-container-wrap">
                <div class="announce-text">
                    {{section.settings.announce-text}}
                </div>
                <div>
                    {{section.settings.announcement-text}}
                </div>
            </div>
        </div>
    </a>
</div>


{% schema %}

{
    "name": "New Product Section",
    "settings": [
            {
                "type": "url",
                "id": "announce",
                "label": "Your Button URL here"
            },
            {
                "type": "text",
                "id": "announce-text",
                "label": "Button Text Here",
                "default": "Announcement"

            },
            {
                "type": "text",
                "id": "announcement-text",
                "label": "Bottom Buttom goes here",
                "default": "How we're responding to COVID-19"
            }
        ]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
