{{ 'bizinusFooter.css' | asset_url | stylesheet_tag }}


<div class="footerSection">
    <div class="footerContainer">
        <div class="footerWrapper">
            <div class="footerLogoColumn">
                <a href="/" class="logoLink">
                    <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e7ff57adad44d1f072965b6_logo.svg" alt="Acme Outdoors Logo">                  
                </a>
            </div><div>

                <a href="{{section.settings.logolink}}" target="_blank" class="socialMedia logoLink">
                    <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e8407a25b6234aeec960fb9_Twitter_Social_Icon_Rounded_Square_White.svg" width="30" alt="Twitter Logo">
                </a>
                <a href="{{section.settings.logolink}}" class="socialMedia">
                    <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e8407aa3fb6cf5576f1658b_Facebook%20Logo.svg" width="30" alt="Facebook Logo">
                </a>
                <a href="{{section.settings.logolink}}" target="_blank" class="socialMedia">
                    <img src="https://assets.website-files.com/5e7ff3ec0c4ef4c974fa99e3/5e840774014326b74bbeeeb6_Insta.svg" width="30" alt="Instagram Logo">
                </a>

            </div>
        </div>
        <div class="footerBottomWrapper">
            <div class="credits">Made In 
                <a href="https://webflow.com" target="_blank">Dear Digital</a>. © 2021.</div>
        </div>
    </div>
</div>


{% schema %}
  {
    "name": "Custom Footer",
    "max_blocks":3,
    "settings": [
    {
        "id":"logolink",
        "type":"url",
        "label":"Social Media Links"
    
    }
    ],
    "blocks":[{
        "type": "select",
        "name": "Social Media Links",
        "settings":[
            {
                "id":"logolink",
                "type":"url",
                "label":"Social Media Links"
            
            }
        ]
    }],
    "presets":[
        {   
            "name":"Custom Footer",
            "category":"Custom Footer"
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}