<link rel="stylesheet" href="{{ 'Donation.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="donate-explainer">
   <div class="container">
    <div class="donate-heading-1"><a href="/products/100" class="donate-link-block w-inline-block">Here at Acme Outdoors</a></div>
    <div class="donate-heading-2">every dollar counts</div>
    <p class="donate-paragraph">Acme Outdoors is more than just a company, we're a 
      community of people who care for one another and for our city. During this time, 
      due to shelter in place orders, only a select few of our staff are able to work. 
      Any donations you make to Acme will help make sure our employees are cared for and 
      can stay safe in these uncertain times.</p>
  </div>
</div>
<div class="content-section ">
  <div class="container">
    <div class="donate-wrapper">
      <div class="donate-collection w-dyn-ilst">
        <div role="list" class="w-dyn-items">
           {%- for product in section.settings.collection.products limit:5 -%}
          <div role="listitem" class="w-dyn-items">
            <a href="{{product.url}}" class="donate-link-block w-inline-block">
              <div class="text-block">Donate {{product.title}}</div>
            </a>
          </div>
          {% endfor %}
          </div></div></div></div></div>
{% schema %}
  {
    "name": "Donation",
    "settings": [{
          "type": "collection",
          "id": "collection",
           "label": "collection"
        }],
"presets": [
    {
      "name": "Donation"
      
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
