<link rel="stylesheet" href="{{ 'productnew.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="container">

  <div>
<p class="para">Responsive Column Cards</p>
<h2 class="heading">Resize the browser window to see the effect.</h2>
  </div>
<div class="row box">
  <div class="column">
    <div class="card">
      <img src="causal.jpeg">
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="causal.jpeg">
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="causal.jpeg">
    </div>
  </div>
  
</div>
</div>

{% schema %}
  {
    "name": "Product Section",
    "max_blocks":3, 
     "settings": [
          {
          "type":"richtext",
          "id":"title",
		  "default": "<p>Product Section</p>",
          "label": "title"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p> Add details on availability</p>",
          "label": "text"
        },
        {
        "type": "collection",
        "id":"collection",
        "label":"collection"

        }
              ],

"blocks":[
{
	"type": "image_picker",
    "name": "product",
	"settings":[
		{
		"type": "product",
        "id": "product",
      	"label": "Select product"
		}
]
}
],

 "presets": [
    {
      "name": "Product section",
      "blocks": [
        {
          "type": "image_picker"
        }
]
    }
  ]
 }
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
