<link rel="stylesheet" href="{{ 'productnew.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="container">

  <div>
<p class="para">Responsive Column Cards</p>
<h2 class="heading">Resize the browser window to see the effect.</h2>
  </div>
<div class="row box">
  <div class="column">
    <div class="card">
      <img src="causal.jpeg">
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="causal.jpeg">
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="causal.jpeg">
    </div>
  </div>
  
</div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
