{{ 'support-section.css' | asset_url | stylesheet_tag }}
<div class="section">
<div class="container">
<div class="top-wrapper">
    <div class="wrapper-flex">
        <div class="top-details">{{section.settings.top-details}}</div>
        <div class="top-heading">{{section.settings.top-heading}}</div>
    </div>
    
</div>
</div>
</div>
  
{% schema %}
  {
    "name": "product-section",
	
    "settings": [
		{
        "id":"top-details",
        "type":"text",
        "label":"details",
       "default":"your-details"
        },
        {
        "id":"top-heading",
        "type":"text",
        "label":"heading",
        "default":"your-heading"
         }
        
     ],

        "presets": [
                {
                    "category": "ankit-section",
                    "name":"product-section"

                }
            ]


  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
