{{ 'shop-section-heading.css' | asset_url | stylesheet_tag }}



<div class="title-section">
    <div class="title-section-container">
        <div class="title-heading">
           {{section.settings.title-heading}}
        </div>
    </div>
</div>


{% schema %}

{
    "name": "Product Section Heading",
    "settings": [
            {
                "type": "text",
                "id": "title-heading",
                "label": "enter your page heading here",
                "default": "Shop Our Products"
            }
        ],

    "presets": [
            {
                "category": "Adnan Custom",
                "name":"Biznus Product Section"
            }
        ]
}

{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}