body {
    font-family: Sen, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
 }
 .content-section2 {
    padding-top: 65px;
    padding-bottom: 65px;
 }
 .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
 }
 
 .about-columns-wrapper{
   display: flex;
   justify-content: space-between;
 }
 .about-column{
    width:22%;
 }
 .image{
    display:block;
 }
 .image2 {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
 
 }
.pic{
  width:55px;
}
 h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
 }
 p {
    margin-top: 0;
    margin-bottom: 10px;
 }
 @media screen and (max-width: 991px){
.container {
    padding-right: 15px;
    padding-left: 15px;
}
 }
 @media screen and (max-width: 767px){
 .about-column {
     
     display: flex;
     flex-direction: column;
     width: 100%;
     margin-bottom: 45px;
    
     align-items: center;
     text-align: center;
 }
 }

 @media screen and (max-width: 767px){
.about-columns-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
}
 
  