        .menu-wrap{
            position: sticky;
            top: 0px;
            z-index: 1000;
            }


		.announce-container {
            font-family: 'Sen', sans-serif;
            max-width: 1200px;
            margin: 0 auto;


        	}

        .announce {
            display: block;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #222;
            color: #f9f9f9;
            font-size: 18px;
            text-decoration: none;
          	letter-spacing:0;
          	line-height:1.5;

        }

        .announce-container-wrap {
            display: flex;
            justify-content: center;
            font-size: 18px;
            align-items: center;

        }

        .announce-text {
            background-color: #eb5757;
            font-size: 16px;
            margin-right: 10px;
            padding: 5px 20px;
            border-radius: 20px;
            color: #f9f9f9;

        }