.donate-explainer {
  position: relative;
  text-align: center;
  color: white;
    min-height: 380px;
    padding-bottom: 35px;
  background-size: auto, cover;
  	
}

.image{
  
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.56)), to(#222))url("{{ 'static.jpg' | asset_url }}");
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.56), #222),url("{{ 'static.jpg' | asset_url }}");
  min-height: 380px; 
  width:100%;
  background-size: auto, cover; 
}
.img-container{
  background-position: 0px 0px, 50% 25%;
   min-height: 380px;
  background-size: auto, cover;
}

.container1 {
  	color:white;
   	position: absolute;
  	top: 20%;
  	left:20%
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}


.donate-heading-1 {
  	
    margin-bottom: -5px;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
}
.donate-heading-2 {
  	margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
}
.donate-paragraph {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.content-section {
    
    padding-bottom: 65px;
}
.donate-wrapper {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 30px 10px;
    border: 2px solid #222;
    border-radius: 5px;
}
.donate-link-block {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #eb5757;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    color: #f9f9f9;
    text-align: center;
    text-decoration: none;
}
.text-block {
  
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: #f9f9f9;
    font-size: 24px;
    font-weight: 800;
}
.donate-link-block:hover{
  border-color: #222;
  background-color: #222;
}
@media screen and (max-width: 991px)
.container {
    padding-right: 15px;
    padding-left: 15px;
}
@media screen and (max-width: 991px)

@media screen and (max-width: 479px)
.donate-wrapper {
    width: 100%;
}
@media screen and (max-width: 767px)
.donate-wrapper {
    width: 90%;
}
@media screen and (max-width: 991px)
.container1 {
    padding-right: auto;
    padding-left: auto;
}
@media screen and (max-width: 479px)
.donate-heading-1 {
    font-size: 30px;
    line-height: 1.3;
}
@media screen and (max-width: 479px)
.donate-heading-2 {
    font-size: 24px;
}
@media screen and (max-width: 479px)
.donate-paragraph {
    width: 80%;
    font-size: 13px;
}
