.donate-explainer {
    padding-top: 50px;
    padding-bottom: 35px;
   max-width: 100%;
}

.image{
   min-height: 380px;
  	max-height: 580px;
  width:100%;
   color: #f9f9f9;
	background-position: 0px 0px, 50% 25%;
    background-size: auto, cover;
  
}
.container1 {
  	color:white;
   	position: absolute;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.donate-heading-1 {
  	
    margin-bottom: -5px;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
}
.donate-heading-2 {
  	margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
}
.donate-paragraph {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.content-section {
    
    padding-bottom: 65px;
}
.donate-wrapper {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 30px 10px;
    border: 2px solid #222;
    border-radius: 5px;
}
.donate-link-block {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #eb5757;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    color: #f9f9f9;
    text-align: center;
    text-decoration: none;
}
.text-block {
  
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: #f9f9f9;
    font-size: 24px;
    font-weight: 800;
}
