.container {
     		max-width: 1200px;
            margin: 0 auto;
            padding-right: 15px;
            padding-left: 15px;
            font-family: 'Sen', sans-serif;
            line-height: 1.5;
  			padding-top: 65px;
}
.shop-top-wrapper {
    		display: flex;
            justify-content: space-between;
            margin-bottom: 0px;
}

.support-top-details-text {
            text-transform: uppercase;
            color: #333;
            font-size: 16px;
  			margin:0px;
            line-height: 1.5;
       }
.support-top-heading {
    		margin-top: 0px;
            margin-bottom: 0px;
            font-size: 40px;
            font-weight: bold;
            line-height: 1.2;
            color: #222;
}

.support-top-right {
    width: 45%;
}
.products-list {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}

.shop-item-wrapper {
      width: 100%;
      margin-bottom: 40px;
}
.shop-item-link-wrapper {
    width: 100%;
    text-decoration: none;
}
.w-inline-block {
        max-width: 100%;
        display: inline-block;
}
.shop-button-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      	padding: 10px;
}
.btn {
      padding: 5px 25px;
      border-style: solid;
      border-width: 1px;
      border-color: #eb5757;
      border-radius: 5px;
      background-color: #eb5757;
      -webkit-transition: border-color 300ms ease, background-color 300ms ease;
      transition: border-color 300ms ease, background-color 300ms ease;
      font-weight: 700;
}
.w-button {
        display: inline-block;
        padding: 9px 15px;
        background-color: #3898EC;
        color: white;
        border: 0;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
        border-radius: 0;
}

.shop-more {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
}
.shop-sale {
            position: absolute;
            top: 4%;
            right: 2%;
            left: auto;
            bottom: auto;
            border-radius: 5px;
            background-color: #eb5757;
            font-size: 14px;
            text-transform: uppercase;
            padding: 5px 20px;
            border-style: solid;
            border-width: 1px;
            border-color: #eb5757;
            color: white;
            margin-right: 10px;
        }
.btn.dark {
        border-color: #222;
        background-color: #222;
}
.btn {
          padding: 5px 25px;
          border-style: solid;
          border-width: 1px;
          border-color: #eb5757;
          border-radius: 5px;
          background-color: #eb5757;
          -webkit-transition: border-color 300ms ease, background-color 300ms ease;
          transition: border-color 300ms ease, background-color 300ms ease;
          font-weight: 700;
}
.shop-item-name{
            color: #222;
            font-size: 17px;
            font-weight: 500;
            text-align: center;
        }
.shop-image {
            position: relative;
            background-position: 50% 50%;
            background-size: cover;
            min-height: 400px;
            border-radius: 5px;
            margin-bottom: 15px;
        }

.price {
            color: #222;
            font-size: 5px;
            font-weight: 700;
            text-align: left;
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
        }
.product-price {
           font-size: 12px;
           margin-right: 10px;
        }

.product-discount {
            font-size: 12px;
            color: #eb5757;
            text-decoration: line-through;
        }

@media screen and (max-width: 991px) {
     .item-list {
      grid-template-columns: 1fr 1fr;
      }

      .shop-image {
        min-height: 350px;
       }

}

@media screen and (max-width: 767px) {
   .item-list {
    grid-template-columns: 1fr;

    }
}

.btn:hover {
            border-color: #222;
            background-color: #222;
        }

.dark:hover {
            text-decoration: none;
        }