.container {
     		 max-width: 1200px;
            margin: 0 auto;
            padding-right: 15px;
            padding-left: 15px;
            font-family: 'Sen', sans-serif;
            line-height: 1.5;
            padding-top: 65px;
}
.shop-top-wrapper {
    		 display: flex;
             justify-content: space-between;
             margin-bottom: 40px;
}

.support-top-details-text {
            text-transform: uppercase;
            color: #333;
            font-size: 16px;
            line-height: 1.5;
                   }
.support-top-heading {
  			margin-top: 0px;
            margin-bottom: 0px;
            font-size: 40px;
            font-weight: bold;
            line-height: 1.2;
            color: #222;
}

.item-list {
          	display: grid;
            grid-auto-columns: 1fr;
            grid-column-gap: 16px;
            grid-row-gap: 16px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto;
        }


.shop-item-wrapper {
       		width: 100%;
            margin-bottom: 40px;
}
.shop-item {
            width: 100%;
            text-decoration: none;
        }

.shop-imggg{
            position: relative;
        }
.shop-sale {
            position: absolute;
            top: 4%;
            right: 2%;
            left: auto;
            bottom: auto;
            border-radius: 5px;
            background-color: #eb5757;
            font-size: 14px;
            text-transform: uppercase;
            padding: 5px 20px;
            border-style: solid;
            border-width: 1px;
            border-color: #eb5757;
            color: white;
            margin-right: 10px;
        }


.w-inline-block {
        max-width: 100%;
        display: inline-block;
}
.shop-button-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      	padding: 10px 10px 0px 10px;
}

.w-button {
        display: inline-block;
        padding: 9px 15px 0px;
        background-color: #3898EC;
        color: white;
        border: 0;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
        border-radius: 0;
}

.shop-more {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
}
.shop-sale {
            position: absolute;
            top: 4%;
            right: 2%;
            left: auto;
            bottom: auto;
            border-radius: 5px;
            background-color: #eb5757;
            font-size: 14px;
            text-transform: uppercase;
            padding: 5px 20px;
            border-style: solid;
            border-width: 1px;
            border-color: #eb5757;
            color: white;
            margin-right: 10px;
        }
.shop-details-wrapper{
            display: flex;
            justify-content: center;
        }
.shop-item-name{
            color: #222;
            font-size: 20px;
            font-weight: 400;
            text-align: center;
        }
.price {
           color: #222;
            font-size: 14px;
            font-weight: 700;
            text-align: left;
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
        }
.product-price {
           margin-right: 10px;
        }

.product-discount {
            color: #eb5757;
            text-decoration: line-through;
        }
.shop-button-wrapper{
            display: flex;
            justify-content: center;
        }
.btn {
         padding: 5px 25px;
            border-style: solid;
            border-width: 1px;
            border-color: #eb5757;
            border-radius: 5px;
            background-color: #eb5757;
            transition: border-color 300ms ease, background-color 300ms ease;
            font-weight: 700;
            cursor: pointer;
            text-decoration: none;
            color: white;
}
.btnb {
          padding: 5px 25px;
          border-style: solid;
          border-width: 1px;
          border-color: #222;
          border-radius: 5px;
          background-color: #222;
          -webkit-transition: border-color 300ms ease, background-color 300ms ease;
          transition: border-color 300ms ease, background-color 300ms ease;
          font-weight: 700;
}


.shop-image {
            border-radius: 5px;
            margin-bottom: 15px;
            max-width: 786px;
            min-height: 400px;
            width: 100%;
            object-fit: cover;
        }




@media screen and (max-width: 991px) {
     .item-list {
      grid-template-columns: 1fr 1fr;
      }

      .shop-image {
        min-height: 350px;
       }

}

 @media screen and (max-width: 991px) {
            .item-list {
                grid-template-columns: 1fr 1fr;
            }

            .shop-image {
                min-height: 350px;
            }

        }
@media screen and (max-width: 767px) {
            .item-list {
                grid-template-columns: 1fr;

            }
        }

.btn:hover {
            border-color: #222;
            background-color: #222;
        }

.btnb:hover {
             border-color: #eb5757;
            background-color: #eb5757;
        }



