
.page-title-section {
  	padding-top: 30px;
    padding-bottom: 30px;
    background-color: #222;
    color: #f9f9f9;
}
@media screen and (max-width: 991px)
.container {
    padding-right: 15px;
    padding-left: 15px;
}
.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.page-title {
    margin-top: 10px;
  color:white;
}
h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
.content-section {
    padding-top: 65px;
    padding-bottom: 65px;
}
.shopping-page-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.shopping-page-left {
    width: 40%;
  
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.shopping-page-image {
    position: relative;
    
    border-radius: 5px;
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png);
    background-position: 50% 50%;
    background-size: cover;
}
.shipping-page-right {
    width: 60%;
    padding-left: 60px;
}