.container{
  box-sizing: border-box;
  padding-left: 10%;
color: black;

}
.button{
  background-color: red;
color : white;
} 

.image{
    padding-left:10%;
padding-right:10%;
    width: 100%;

}
  .para{
    
    font-weight: bold;
  }
  
  .details{
  font-weight: bold;
  }
.row {
  
  
  margin: 0 -5px;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  
  float: left;
  width: 30%;
  text-align: center;
  padding: 0 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
  height:auto;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }