.container{
  font-family: Sen;
    color: rgb(51, 51, 51);
    font-size: 16px;
    line-height: 1.5;
  box-sizing: border-box;
  padding-left: 10%;

}
.para{
  margin-bottom: 0px;
  text-transform: uppercase;
}
.heading{margin-top: 0px;
    margin-bottom: 0px;
    font-size: 40px;
    line-height: 1.2;}
    .box{
      min-height: 350px;
      padding-top: 25px;
    }
.row {
    margin: 0 -5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  
  float: left;
  width: 30%;
  text-align: center;
  padding: 0 10px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
  height:auto;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }