.container{
  box-sizing: border-box;
  padding-left: 10%;
color: black;

}

.para{
  margin-bottom: -10px;
  text-transform: uppercase;
}
.heading{margin-top: -10px;
    margin-bottom: 0px;
    font-size: 40px;
    line-height: 1.2;
  font-weight:bold;
}
.box{
      min-height: 350px;
     
    }

 
.details{
    font-weight: bold;
  }
.row {
  margin: 0 -5px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  
  float: left;
  width: 30%;
  text-align: center;
  padding: 0 10px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-position: 50% 50%;
    background-size: cover;
    min-height: 300px;
    max-height: 300px;
  width: 100%;
}
.image {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-position: 50% 50%;
    background-size: cover;
    min-height: 300px;
    max-height: 300px;
    margin-bottom: 30px;
    border-radius: 5px;
  width: 100%;
}
.btn {
    padding: 5px 25px ;
    border-style: solid;
    border-width: 1px;
    border-color: #eb5757;
    border-radius: 5px;
    background-color: #eb5757;
    -webkit-transition: border-color 300ms ease, background-color 300ms ease;
    transition: border-color 300ms ease, background-color 300ms ease;
    font-weight: 700;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }