
        .title-section {
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: #222;
            font-family: 'Sen', sans-serif;
            color: #f9f9f9;
            
        }
        .title-section-container{
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
        }
        .title-heading{
            font-size: 38px;
            font-weight: bold;
            line-height: 44px;
            margin: 10px 0px;
        }
        
