       .main-content-section {
            padding-top: 65px;
            padding-bottom: 65px;
            font-family: Sen, sans-serif;
            color: #333;
            font-size: 16px;
            line-height: 1.5;
        }

        .main-content-container {
            max-width: 1200px;
            margin: 0 auto;
            padding-right: 15px;
            padding-left: 15px;
            font-family: 'Sen', sans-serif;
            line-height: 1.5;
        }

        .main-content-container-wrap {
            display: flex;

        }

        .shop-menu {
            width: 20%;
            padding-right: 25px;
        }

        .menu-heading {
            margin-top: 0px;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        .menu-list-items {
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: bold;
        }

        .cat-btn {
            display: block;
            text-decoration: none;
            color: #222;
            text-decoration: none;
            border: solid 1px #222;
            border-radius: 5px;
            font-weight: bold;
            padding: 5px 25px;
            transition: border-color 300ms ease, background-color 300ms ease;
        }

        .cat-btn:hover {
            background-color: #222;
            color: #f9f9f9;
        }





        /* GRID/RIGHT SIDE CSS */

        .product-list {
            display: grid;
            grid-auto-columns: 1fr;
            grid-column-gap: 16px;
            grid-row-gap: 16px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto auto;
        }

        .shop-item-wrap {
            width: 100%;
            margin-bottom: 40px;
        }

        .shop-item {

            width: 100%;
            text-decoration: none;
            display: inline-block;

        }

        .shop-details-wrap {
            display: flex;
            justify-content: center;
        }

        .shop-item-name {
            color: #222;
            font-size: 20px;
            font-weight: 400;
            text-align: center;
        }


        .price {
            margin-right: 10px;
            color: #222;
            font-size: 14px;
            font-weight: 700;
            text-align: left;
            margin-bottom: 15px;
            display: flex;
            column-gap: 10px;
        }

        .shop-btn-wrap {
            display: flex;
            justify-content: center;
        }

        .shop-btn {
            padding: 5px 25px;
            border-style: solid;
            border-width: 1px;
            border-color: #eb5757;
            border-radius: 5px;
            background-color: #eb5757;
            transition: border-color 300ms ease, background-color 300ms ease;
            font-weight: 700;
            cursor: pointer;
            text-decoration: none;
            color: white;

        }

        .shop-btn:hover {
            border-color: #222;
            background-color: #222;
        }

        .aaa:hover {
            text-decoration: none;
        }

        .aaa:active,
        .aaa:hover {
            outline: 0;
        }


        .shop-image {
            border-radius: 5px;
            margin-bottom: 15px;
            max-width: 300px;
            min-height: 400px;
            width: 100%;
            object-fit: cover;
        }

        .shop-imggg {
            position: relative;
        }

        .shop-sale {
            position: absolute;
            top: 4%;
            right: 2%;
            left: auto;
            bottom: auto;
            border-radius: 5px;
            background-color: #eb5757;
            font-size: 14px;
            text-transform: uppercase;
            padding: 5px 20px;
            border-style: solid;
            border-width: 1px;
            border-color: #eb5757;
            color: white;
            margin-right: 10px;
        }

        .product-discount {
            color: #eb5757;
            text-decoration: line-through;
        }



        @media screen and (max-width: 991px) {
            .product-list {
                grid-template-columns: 1fr 1fr;
            }

            .shop-image {
                min-height: 350px;
            }

            .shop-menu {
                width: 100%;
                margin-bottom: 10px;
                padding-right: 0px;
            }

            .main-content-container-wrap {
                flex-direction: column;
            }

            .shop-image {
                border-radius: 5px;
                margin-bottom: 15px;
                max-width: 1000px;
                min-height: 400px;
                width: 100%;
                object-fit: cover;
            }

        }

        ul {
            list-style: none;
            padding-inline-start: 0px;
        }

        @media screen and (max-width: 767px) {
            .product-list {
                grid-template-columns: 1fr;

            }
        }