
        .title-section {
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: #222;
            font-family: 'Sen', sans-serif;
            color: #f9f9f9;
            
        }
        .title-section-container{
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            padding-left: 15px;
            padding-right: 15px;
          margin-top: 155px;
          
        }
        .title-heading{
            font-size: 38px;
            font-weight: bold;
            line-height: 44px;
            margin: 10px 0px;
        }
        
        @media screen and (max-width: 991px) {

          .title-section-container{
            margin-top: 188px;

          }
        }

        @media screen and (max-width: 541px) {

          .title-section-container{
            margin-top: 210px;

          }
        }
      @media screen and (max-width: 417px) {

          .title-section-container{
            margin-top: 243px;

          }
        }
      @media screen and (max-width: 336px) {

          .title-section-container{
            margin-top: 275px;

          }
        }